apiVersion: apps/v1
kind: Deployment
metadata:
  name: web-app-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: web-app
  template:
    metadata:
      labels:
        app: web-app
    spec:
      containers:
      - name: web-app
        image: YOUR_DOCKERHUB_USER/devops-lab:latest
        ports:
        - containerPort: 5000
        imagePullPolicy: Always
